/*Section 1*/
.section-1-content {
    background: url('../img/1.jpg');
    background-size: cover;
    background-position: 50% 80%;
    min-height: 300px;
    border-bottom: 2px solid var(--theme-primary-color);
}
.section-1-content h1 {
    font-weight: bold;
}
.section-1-content a {
    font-weight: bold;
}

/*Section 2*/
.section-2-content {
    background: #fafafa;
}

/*Section 3*/
#section-3 {
    background: #eee;
}
.section-3-content-2 img {
    border-bottom: 2px solid var(--theme-primary-color);
}

/*Section 4*/
#section-4 {
    background: #fafafa;
}
.section-4-content h3 a, .section-4-content p a {
    color: var(--theme-secondary-color);
}

/*On small screens, make buttons wide and stack*/
@media (max-width: 420px) {
    .section-1-content a.btn {
        width:90%;
        margin-bottom: 0.5rem;
    }
}
