/*Variables*/
:root {
    --theme-primary-color: #F7CE3E;
    --theme-secondary-color: #373737;
}

/*Overrides*/
.fas {
    color: var(--theme-primary-color);
}
.fa-arrow-right {
    color: var(--theme-secondary-color);
}
#section-5 .fas, #section-5 .fab {
    color: var(--theme-secondary-color);
}
h1, h2, h3, h4, h5, h6, .nav-link, .footer-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--theme-secondary-color);
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-link {
    font-size: 0.75rem;
}
.footer-link:hover {
    color: var(--theme-secondary-color);
}
.custom-button {
    max-width: 150px;
    color: #fff;
    font-weight: bold;
}

/*Nav*/
.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
}
.active {
    font-weight: bold;
}

/*Other*/
.top-link {
    display: none;
    text-align: right;
    right: 10px;
    bottom: 10px;
}
.showOn {
    display: block;
}

@media(max-width: 575px) {
    .searchBox {
        width: auto;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .searchForm {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .searchBox {
        width: 100px !important;
    }
}