/*For all subpages*/
blockquote {
    padding: 20px;
    border-left: 2px solid var(--theme-primary-color);
    background-color: #EEEEEE;
}
.section-1-content {
    background: url('../img/1.jpg');
    background-size: cover;
    background-position: 50% 80%;
    min-height: 150px;
    border-bottom: 2px solid var(--theme-primary-color);
}

/*For main blog page and blog posts*/
#section-2 .card-columns {
    column-count: 2;
}
p.card-blog-category {
    color: var(--theme-primary-color);
    margin-bottom: 0.25rem;
}
h4.card-title a {
    color: var(--theme-secondary-color);
}
.pipe {
    padding: 0px 5px 0px 5px;
}
.post-link-p .post-link-category, .post-link-p .post-link-tag {
    margin-right: 5px;
    margin-bottom: 10px;
    color: var(--theme-secondary-color);
}
.commentAuthorImg {
    border-left: 2px solid var(--theme-primary-color);
}

/*For widgets in aside*/
ul.widget-link-list {
    list-style-type: none;
    padding-left: 2px;
    margin-bottom: 2rem;
}
ul.widget-link-list li {
    border-left: 2px solid var(--theme-primary-color);
    padding-left: 8px;
    margin-bottom: 8px;
}
a.widget-link {
    color: var(--theme-secondary-color);
}
.widget-link-p {
    margin-bottom: 2rem;
}
.widget-link-p .widget-tag {
    margin-right: 5px;
    margin-bottom: 10px;
    color: var(--theme-secondary-color);
}

/*Make blog post cards stack so 1 displays horizontally on smaller screens*/
@media (max-width: 500px) {
    #section-2 .card-columns {
        column-count: 1;
    }
    #section-2 .card-columns .card {
        margin-bottom: 2rem;
    }
}
